@media (max-width:1400px) and (min-width:1201px){
  .container{
    width: 90%;
  }
  .xl-book-box{
    width: 32%;
  }
}

@media (max-width:1200px) and (min-width:993px){
  .container{
    width: 100%;
  }
  .lg-d-none{
    display: none !important;
  }

  .lg-nav-list li a{
    padding: 10px;
  }

  .lg-abt-con{
    align-items: flex-start;
  }

  .lg-book-box{
    width: 32%;
  }
  .lg-book-btn{
    padding: 0 4px;
  }
  .lg-con-info{
    padding-right: 20px;
  }

  .lg-test-box{
    width: 100%;
  }
}

@media (max-width:992px) and (min-width:769px){
  .container{
    width: 85%;
  }
  .md-d-none{
    display: none !important;
  }
  .md-con-info{
    width: 100%;
    text-align: center;
  }

  .md-container{
    width: 100%;
  }

  .md-wc-mt{
    margin-top: 100px;
  }

  .md-wc-div{
    flex-direction: column;
    align-items: center;
  }

  .md-wc-intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .md-play-div{
    width: 100%;
    padding: 50px 0;
  }

  .md-abt-con{
    flex-direction: column-reverse;
    gap: 30px;
  }

  .md-abt-intro , .md-abt-img{
    width: 100%;
  }

  .md-box-div{
    flex-wrap: wrap;
    gap: 20px;
  }

  .md-box-div .md-box{
    width: 100%;
  }

  .md-menu-div{
    flex-direction: column;
  }

  .md-menu-box{
    width: 100%;
  }

  .md-item-info{
    width: 100%;
  }

  .md-spl-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .md-spl-item-list , .md-spl-item-desc{
    width: 100%;
  }

  .md-spl-item-list ul li{
    border: none;
  }

  .md-spl-item-desc{
    flex-direction: column-reverse;
    gap: 20px;
  }

  .md-spl-desc , .md-spl-img{
    width: 100%;
  }

  .md-eve-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .md-eve-desc , .md-eve-img{
    width: 100%;
  }

  .md-book-box-div{
    flex-wrap: wrap;
  }

  .md-book-box{
    width: 48%;
  }

  .md-test-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .md-test-box{
    width: 100%;
  }


  .md-gal-imgs{
    width: 98%;
    flex-wrap: wrap;
  }

  .md-gal-imgs .md-img-box{
    width: 33.33%;
  }

  .md-chefs-imgs{
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
  }

  .md-chef-img-box{
    width: 47%;
  }

  .md-con-dtls{
    flex-wrap: wrap;
    gap: 30px;
  }

  .md-con-info , .md-con-form{
    width: 100%;
  }

  .md-con-desc{
    text-align: left;
  }

  .md-con-box{
    gap: 20px;
  }

  .md-con-box input{
    width: 50%;
  }

  .md-ftr-div{
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
  }

  .md-ftr-items{
    width: 47% !important;
  }

  .md-footer-sec{
    padding: 60px 0 0 !important;
  }
}

@media (max-width:768px) and (min-width:577px){
  /* @media ( 576px <= width <= 767px){ */
  .container{
    width: 90%;
  }
  .sm-d-none{
    display: none !important;
  }
  .sm-con-info{
    width: 100%;
    text-align: center;
  }

  .sm-container{
    width: 100%;
  }

  .sm-wc-mt{
    margin-top: 100px;
  }

  .sm-wc-div{
    flex-direction: column;
    align-items: center;
  }

  .sm-wc-intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sm-wc-intro h1{
    font-size: 28px;
  }
  .sm-wc-intro h2{
    font-size: 18px;
  }

  .sm-play-div{
    width: 100%;
    padding: 50px 0;
  }

  .sm-abt-con{
    flex-direction: column-reverse;
    gap: 30px;
  }

  .sm-abt-intro , .sm-abt-img{
    width: 100%;
  }

  .sm-box-div{
    flex-wrap: wrap;
    gap: 20px;
  }

  .sm-box-div .sm-box{
    width: 100%;
  }

  .sm-menu-div{
    flex-direction: column;
  }

  .sm-menu-box{
    width: 100%;
  }

  .sm-spl-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .sm-spl-item-list , .sm-spl-item-desc{
    width: 100%;
  }

  .sm-spl-item-desc{
    flex-direction: column-reverse;
    gap: 20px;
  }

  .sm-spl-desc , .sm-spl-img{
    width: 100%;
  }

  .sm-eve-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .sm-eve-desc , .sm-eve-img{
    width: 100%;
  }

  .sm-book-box-div{
    flex-direction: column;
  }

  .sm-book-box{
    width: 100%;
  }

  .sm-test-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .sm-test-box{
    width: 100%;
  }


  .sm-gal-imgs{
    width: 98%;
    flex-wrap: wrap;
  }

  .sm-gal-imgs .sm-img-box{
    width: 100%;
  }

  .sm-chefs-imgs{
    flex-wrap: wrap;
    gap: 30px;
  }

  .sm-chef-img-box{
    width: 100%;
  }

  .sm-con-dtls{
    flex-wrap: wrap;
    gap: 30px;
  }

  .sm-con-info , .sm-con-form{
    width: 100%;
  }

  .sm-con-desc{
    text-align: left;
  }

  .sm-con-box{
    flex-wrap: wrap;
    gap: 10px;
  }

  .sm-con-box input{
    width: 100%;
  }

  .sm-ftr-div{
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .sm-ftr-items{
    width: 100% !important;
  }

  .sm-footer-sec{
    padding: 60px 0 0 !important;
  }
}

@media all and (max-width:576px){
  .container{
    width: 100%;
  }
  .xs-d-none{
    display: none !important;
  }
  .xs-con-info{
    width: 100%;
    text-align: center;
  }

  .xs-container{
    width: 100%;
  }

  .xs-wc-mt{
    margin-top: 150px;
  }

  .xs-wc-div{
    flex-direction: column;
    align-items: center;
  }

  .xs-wc-intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .xs-wc-intro h1{
    font-size: 28px;
    text-align: center;
  }
  .xs-wc-intro h2{
    font-size: 18px;
    text-align: center;
  }

  .xs-play-div{
    width: 100%;
    padding: 50px 0;
  }

  .xs-abt-con{
    flex-direction: column-reverse;
    gap: 30px;
  }

  .xs-abt-intro , .xs-abt-img{
    width: 100%;
  }

  .xs-box-div{
    flex-wrap: wrap;
    gap: 20px;
  }

  .xs-box-div .xs-box{
    width: 100%;
  }

  .xs-menu-div{
    flex-direction: column;
  }

  .xs-menu-box{
    width: 100%;
  }

  .xs-spl-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .xs-spl-item-list , .xs-spl-item-desc{
    width: 100%;
  }

  .xs-spl-item-list ul li{
    border: none;
  }

  .xs-spl-item-desc{
    flex-direction: column-reverse;
    gap: 20px;
  }

  .xs-spl-desc , .xs-spl-img{
    width: 100%;
  }

  .xs-eve-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .xs-eve-desc , .xs-eve-img{
    width: 100%;
    padding: 0;
  }

  .xs-book-box-div{
    flex-direction: column;
  }

  .xs-book-box{
    width: 100%;
  }

  .xs-test-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .xs-test-box{
    width: 100%;
  }


  .xs-gal-imgs{
    width: 98%;
    flex-wrap: wrap;
  }

  .xs-gal-imgs .xs-img-box{
    width: 100%;
  }

  .xs-chefs-imgs{
    flex-wrap: wrap;
    gap: 30px;
  }

  .xs-chef-img-box{
    width: 100%;
  }

  .xs-con-dtls{
    flex-wrap: wrap;
    gap: 30px;
  }

  .xs-con-info , .xs-con-form{
    width: 100%;
  }

  .xs-con-desc{
    text-align: left;
  }

  .xs-con-box{
    flex-wrap: wrap;
    gap: 10px;
  }

  .xs-con-box input{
    width: 100%;
  }

  .xs-ftr-div{
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .xs-ftr-items{
    width: 100% !important;
  }

  .xs-footer-sec{
    padding: 60px 0 0 !important;
  }
}