@media (max-width:768px) and (min-width:577px){
  .container{
    width: 80%;
  }
  .sm-d-none{
    display: none !important;
  }
  .contact-info{
    width: 100%;
    text-align: center;
  }

  header .container{
    width: 100%;
  }

  .welcome-page{
    margin-top: 100px;
  }

  .welcome-div{
    flex-direction: column;
    align-items: center;
  }

  .welcome-intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .welcome-intro h1{
    font-size: 28px;
  }
  .welcome-intro h2{
    font-size: 18px;
  }

  .welcome-intro{
    width: 100%;
  }

  .play-btn-div{
    width: 100%;
    padding: 50px 0;
  }

  .play-btn {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 4.5;
  }

  .about-content{
    flex-direction: column-reverse;
    gap: 30px;
  }

  .about-intro , .about-img{
    width: 100%;
  }

  .box-div{
    flex-wrap: wrap;
    gap: 20px;
  }

  .box-div .box{
    width: 100%;
  }

  .menu-div{
    flex-direction: column;
  }

  .menu-box{
    width: 100%;
  }

  .specials-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .spl-item-list , .spl-item-desc{
    width: 100%;
  }

  .spl-item-desc{
    flex-direction: column-reverse;
    gap: 20px;
  }

  .spl-desc , .spl-img{
    width: 100%;
  }

  .events-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .events-desc-box , .events-img-box{
    width: 100%;
  }

  .book-box-div{
    flex-direction: column;
  }

  .book-box{
    width: 100%;
  }

  .testimonials-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .testimonials-box{
    width: 100%;
  }


  .gallery-imgs{
    width: 98%;
    flex-wrap: wrap;
  }

  .gallery-imgs .img-box{
    width: 100%;
  }

  .chefs-imgs{
    flex-wrap: wrap;
    gap: 30px;
  }

  .chefs-img-box{
    width: 100%;
  }

  .contact-details{
    flex-wrap: wrap;
    gap: 30px;
  }

  .contact-info , .contact-form{
    width: 100%;
  }

  .con-desc{
    text-align: left;
  }

  .contact-box{
    flex-wrap: wrap;
    gap: 10px;
  }

  .contact-box input{
    width: 100%;
  }

  .footer-div{
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .footer-items{
    width: 100% !important;
  }
}

@media (max-width:576px){
  .container{
    width: 100%;
  }
  .sm-d-none{
    display: none !important;
  }
  .xs-con-info{
    width: 100%;
    text-align: center;
  }

  .xs-container{
    width: 100%;
  }

  .xs-wc-mt{
    margin-top: 100px;
  }

  .xs-wc-div{
    flex-direction: column;
    align-items: center;
  }

  .xs-wc-intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .xs-wc-intro h1{
    font-size: 28px;
  }
  .xs-wc-intro h2{
    font-size: 18px;
  }

  .xs-play-div{
    width: 100%;
    padding: 50px 0;
  }

  .xs-play-btn {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 4.5;
  }

  .xs-abt-con{
    flex-direction: column-reverse;
    gap: 30px;
  }

  .xs-abt-intro , .xs-abt-img{
    width: 100%;
  }

  .xs-box-div{
    flex-wrap: wrap;
    gap: 20px;
  }

  .xs-box-div .xs-box{
    width: 100%;
  }

  .xs-menu-div{
    flex-direction: column;
  }

  .xs-menu-box{
    width: 100%;
  }

  .xs-spl-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .xs-spl-list , .xs-spl-desc{
    width: 100%;
  }

  .xs-spl-desc{
    flex-direction: column-reverse;
    gap: 20px;
  }

  .xs-spl-desc , .xs-spl-img{
    width: 100%;
  }

  .xs-eve-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .xs-eve-desc , .xs-eve-img{
    width: 100%;
  }

  .xs-book-box-div{
    flex-direction: column;
  }

  .xs-book-box{
    width: 100%;
  }

  .xs-test-box-div{
    flex-direction: column;
    gap: 20px;
  }

  .xs-test-box{
    width: 100%;
  }


  .xs-gal-imgs{
    width: 98%;
    flex-wrap: wrap;
  }

  .xs-gal-imgs .xs-img-box{
    width: 100%;
  }

  .xs-chefs-imgs{
    flex-wrap: wrap;
    gap: 30px;
  }

  .xs-chef-img-box{
    width: 100%;
  }

  .xs-con-dtls{
    flex-wrap: wrap;
    gap: 30px;
  }

  .xs-con-info , .xs-con-form{
    width: 100%;
  }

  .xs-con-desc{
    text-align: left;
  }

  .xs-con-box{
    flex-wrap: wrap;
    gap: 10px;
  }

  .xs-con-box input{
    width: 100%;
  }

  .xs-ftr-div{
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .xs-ftr-items{
    width: 100% !important;
  }
}